<!doctype html>

<html lang="en">
<head>
    <title>FM131</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script type=text/javascript>
        $(function () {
            $('#back').bind('click', function () {
                $.getJSON('/query', {
                    query_str: $('input[name="query"]').val(),
                    page_num: parseInt($('input[name="page_num"]').val()) - 1
                }, function (data) {
                    $("#hits").text(data.total_hits);
                    $("#card-columns").html(data.card_html);
                    $('input[name="page_num"]').val(data.page_num);
                    if (data.page_num === 1) {
                        $('#back').css("visibility", "hidden");
                    } else {
                        $('#back').css("visibility", "visible");
                    }
                    if (data.page_num * 10 < data.total_hits) {
                        $('#next').css("visibility", "visible");
                    } else {
                        $('#next').css("visibility", "hidden");
                    }
                });
            });
            $('#next').bind('click', function () {
                $.getJSON('/query', {
                    query_str: $('input[name="query"]').val(),
                    page_num: parseInt($('input[name="page_num"]').val()) + 1
                }, function (data) {
                    $("#hits").text(data.total_hits);
                    $("#card-columns").html(data.card_html);
                    $('input[name="page_num"]').val(data.page_num);
                    if (data.page_num === 1) {
                        $('#back').css("visibility", "hidden");
                    } else {
                        $('#back').css("visibility", "visible");
                    }
                    if (data.page_num * 10 < data.total_hits) {
                        $('#next').css("visibility", "visible");
                    } else {
                        $('#next').css("visibility", "hidden");
                    }
                });
            });
        });
    </script>

    <script type=text/javascript>
        function query() {
            $.getJSON('/query', {
                    query_str: $('input[name="query"]').val(),
                    page_num: $('input[name="page_num"]').val()
                }, function (data) {
                    $("#hits").text('Total hits: ' + data.total_hits);
                    $("#card-columns").html(data.card_html);
                    $('input[name="page_num"]').val(1);
                    $('#back').css("visibility", "hidden");
                    if (data.page_num * 10 < data.total_hits) {
                        $('#next').css("visibility", "visible");
                    } else {
                        $('#next').css("visibility", "hidden");
                    }
                }
            );
        }
    </script>
</head>

<body>
<div class="container">
    <div class="card shadow mx-auto my-4" style="border-radius: 1.5rem !important;">
        <div class="card-body">
            <h2 class="card-title text-center mt-2 mb-4">FM131</h2>
            <div class="col mx-auto my-3">
                <input class="form-control" style="border-radius: 1.5rem !important;"
                       type="text" name="query" size=50
                       value="{{ query_str }}" onkeyup="query()"
                       placeholder="type in words to search">
                <input type="hidden" name="page_num" value="1">
            </div>
        </div>
    </div>

    <div class="col px-0">
        <h6 id="hits"><br></h6>
        <hr>
        <div class="card-columns" id="card-columns"></div>

        <div class="my-3" id="nav">
            <input type="button" value="Back" id="back" class="btn btn-primary"
                   style="visibility: hidden; border-radius: 1.5rem !important; ">
            <input type="button" value="Next" id="next" class="btn btn-primary float-right"
                   style="visibility: hidden; border-radius: 1.5rem !important; ">
        </div>
    </div>
</div>
</body>
</html>
